<div id="video_overlays" [@slideIn]="state" *ngIf="dataIsLoaded">
  <h1 class="questionHeader col-12">
    <span>{{ question.typewriterQuestionHeader }}</span
    ><span [className]="useTypewriter ? 'invisible' : ''">{{
      question.questionHeader
    }}</span>
  </h1>
  <div *ngIf="question.questionType !== 'priority-question'">
    <div
      *ngFor="let alternative of question.alternatives"
      class="row alternative-6 justify-content-center"
    >
      <div class="col" *ngIf="alternative.typewriterText !== ''">
        <label class="container">
          <input
            type="checkbox"
            (click)="checkboxClicked(alternative.alternativeId)"
            id="{{ 'alt' + alternative.alternativeId }}"
          />
          <span
            *ngIf="question.questionType === 'multiple-choice-question'"
            class="checkmark"
          ></span>
          <img
            *ngIf="question.questionType === 'multiple-choice-icons-question'"
            class="checkmark-icon"
            [src]="
              alternativeIsChecked(alternative.alternativeId)
                ? 'assets/icons/situation-3/task-2/alt1.png'
                : 'assets/icons/situation-3/task-2/alt2.png'
            "
          />
        </label>
      </div>
      <div class="col-8">
        <span> {{ alternative.typewriterText }} </span>
        <span [className]="useTypewriter ? 'invisible' : ''">
          {{ alternative.alternativeText }}</span
        >
      </div>
      <div class="col">
        <img
          src="assets/icons/general-icons/speaker.png"
          (click)="playSound(alternative.alternativeId)"
          class="sound-button"
          [@fadeIn]="showSoundButtons[alternative.alternativeId]"
        />
      </div>
    </div>
  </div>

  <div class="row button-row" [@fadeIn]="buttonRow">
    <div class="col-6" align="center">
      <button class="btn-basic" (click)="replayTask()">Replay &#10226;</button>
    </div>
    <div class="col-6" align="center">
      <button
        class="btn-basic"
        [disabled]="!correctNumberOfAlternativesSelected()"
        (click)="completeTask()"
      >
        Complete &#8594;
      </button>
    </div>
  </div>
</div>
