<div id="video_box">
  <div class="inner" id="video_overlays" *ngIf="showQuestions">
    <h3>
      Select 2 out of 6 actions of the hotel that have the most negative
      enviromental or ethical impact on the community
    </h3>
    <input type="checkbox" name="favorite_pet" />The hotel throws away all cups
    after these types of events<br />
    <input type="checkbox" name="favorite_pet" />The hotel uses multiple
    suppliers<br />
    <input type="checkbox" name="favorite_pet" />The hotel has overtime work
    without extra pay<br />
    <input type="checkbox" name="favorite_pet" value="Cats" />The hotel uses
    aluminum kettles to cook food<br />
    <input type="checkbox" name="favorite_pet" value="Dogs" />The hotel offers
    training possibilities for the staff<br />
    <input type="checkbox" name="favorite_pet" value="Birds" />The hotel
    restaurant serves dishes with crickets<br />
    <br />
    <button (click)="completeTask()">Complete</button>
  </div>
  <div>
    <video
      autoplay
      id="myVideo"
      [class]="showQuestions ? 'blur' : ''"
      (ended)="showTask()"
    >
      <source src="assets/TaskVideoes/scenario3task1.mp4" type="video/mp4" />
    </video>
  </div>
</div>
