.fullscreen {
  width: 100%;
  height: 100%;
}

#taskVideo {
  z-index: 0;
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  /* object-fit: contain; */
}

.outer {
  position: relative;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.video-container {
  position: relative;
  background-color: red;
  float: left;
}

.video-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
