<div id="video_overlays" [@slideIn]="state" *ngIf="dataIsLoaded">
  <h1 class="questionHeader col-12">
    <span>{{ question.typewriterQuestionHeader }}</span
    ><span [className]="useTypewriter ? 'invisible' : ''">{{
      question.questionHeader
    }}</span>
  </h1>
  <!-- -----------------------html for least-desirable oppgave------------------------- -->

  <div
    *ngFor="let alternative of question.alternatives"
    class="row alternative-6 justify-content-center"
  >
    <div class="col-1 align-self-center">
      <img
        src="assets/icons/general-icons/speaker.png"
        (click)="playSound(alternative.alternativeId)"
        class="sound-button"
      />
    </div>

    <div class="col-1 align-self-center">
      <img src="assets/icons/Task2Icons/alt6.png" class="alternative-icon" />
    </div>

    <div class="col-7 align-self-center">
      <span class="alternativeText">{{ alternative.alternativeText }}</span>
    </div>

    <div class="col-1 align-self-center">
      <button
        [className]="
          isChecked(alternative.alternativeId, 1)
            ? 'radio-button-checked'
            : 'radio-button'
        "
        (click)="radiobuttonClicked(alternative.alternativeId, 1)"
      >
        1</button
      ><br />
      <span class="buttonText">Least</span>
    </div>
    <div class="col-1 align-self-center">
      <button
        [className]="
          isChecked(alternative.alternativeId, 2)
            ? 'radio-button-checked'
            : 'radio-button'
        "
        (click)="radiobuttonClicked(alternative.alternativeId, 2)"
      >
        2</button
      ><br />
      <span class="buttonText">More</span>
    </div>
    <div class="col-1 align-self-center">
      <button
        [className]="
          isChecked(alternative.alternativeId, 3)
            ? 'radio-button-checked'
            : 'radio-button'
        "
        (click)="radiobuttonClicked(alternative.alternativeId, 3)"
      >
        3
      </button>
      <br />
      <span class="buttonText">Most</span>
    </div>
  </div>
  <!-- ------------------------------------------------ -->

  <div class="row button-row" [@fadeIn]="buttonRow">
    <div class="col-6" align="center">
      <button class="btn-replay-and-complete" (click)="replayTask()">
        Replay &#10226;
      </button>
    </div>
    <div class="col-6" align="center">
      <button
        class="btn-replay-and-complete"
        [disabled]="!correctNumberOfAlternativesSelected()"
        (click)="completeTask()"
      >
        Complete &#8594;
      </button>
    </div>
  </div>
</div>
